:scss

  .interview{
    border-bottom: 1px solid #cce7d9;
    .poll{
      box-shadow: 0 0 10px #cce7d9;
      padding: 5px 7px;
      p{
        font-weight: bold !important;
        font-size: 15.5px;
      }
      .head{
        margin: 10px 0;
        .icon{
          display: inline-block;
          color: #ffffff;
          width: 50px;
          height: 50px;
          text-align: center;
          padding-top: 12px;
          background: #008f44;
          border-radius: 25px;
        }
        .title{
          color: #008f44;
          padding: 0 0 0 40px;
          font-size: 18px;
          display: inline-block;
        }
        .title:hover{
          color: #444444;
        }
      }
      .rdio-b{
        margin: 7px;
      }
      .actions{

        margin-bottom: 3px;
        .btn{
          display:inline-block;
          text-align: right;
          //position:relative;
          //right: 0px;
          float: right;
          padding:  4px 10px;
        }
      }

    }
  }

.interview
  %h3 Опитування
  .poll
    .head
      .icon
        %i.fa.fa-check-square-o.fa-2x
      %a{:href => "#"}
        .title Опитування №1
    %p За надання медичних послуг краще сплачувати:
    .rdio-b
      = radio_button_tag 'color', "green", class: "color_input"
      через касу закладу
    .rdio-b
      = radio_button_tag 'color', "green", class: "color_input"
      через благодійний фонд при закладі
    .rdio-b
      = radio_button_tag 'color', "green", class: "color_input"
      купуючи медичну страховку
    .rdio-b
      = radio_button_tag 'color', "green", class: "color_input"
      я за безкоштовну медицину
    .actions.clearfix
      = submit_tag("Відправити", :class=>"btn btn-success")
  .poll
    .head
      .icon
        %i.fa.fa-check-square-o.fa-2x
      %a{:href => "#"}
        .title Опитування №2
    %p Якщо Ви стикалися з проблемами у медичній сфері, з чим саме були пов'язані ці проблеми?
    .rdio-b
      = radio_button_tag 'color1', "green1", true, class: "color_input"
      Помилки лікаря при встановленні діагнозу
    .rdio-b
      = radio_button_tag 'color1', "green1", class: "color_input"
      Низька кваліфікація середнього медичного персоналу
    .rdio-b
      = radio_button_tag 'color1', "green1", class: "color_input"
      Висока вартість ліків, послуг
    .rdio-b
      = radio_button_tag 'color1', "green1", true, class: "color_input"
      Погане оснащення медичних закладів
    .rdio-b
      = radio_button_tag 'color1', "green1", class: "color_input"
      Рекомендація-направлення до приватної лікувальної установи на обстеження чи лікування
    .rdio-b
      = radio_button_tag 'color1', "green1", class: "color_input"
      Рекомендація щодо придбання ліків у конкретній аптеці
    .actions.clearfix
      = submit_tag("Відправити", :class=>"btn btn-success")
  .poll
    .head
      .icon
        %i.fa.fa-check-square-o.fa-2x
      %a{:href => "#"}
        .title Опитування №3
    %p Чи задовольняє Вас якість та доступність медичних послуг у закладах охорони здоров'я України?
    .rdio-b
      = radio_button_tag 'color2', "green2", class: "color_input"
      Так, задовольняє. Не потребує ніяких змін
    .rdio-b
      = radio_button_tag 'color2', "green2", class: "color_input"
      В цілому задовольняє. Потребує вдосконалення
    .rdio-b
      = radio_button_tag 'color2', "green2", class: "color_input"
      Не задовольняє. Потребує кардинальних змін
    .actions.clearfix
      = submit_tag("Відправити", :class=>"btn btn-success")
  -#.poll
  -#  .head
  -#    .icon
  -#      %i.fa.fa-check-square-o.fa-2x
  -#    %a{:href => "#"}
  -#      .title Опитування №1
  -#  %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту
  -#.poll
  -#  .head
  -#    .icon
  -#      %i.fa.fa-check-square-o.fa-2x
  -#    %a{:href => "#"}
  -#      .title Опитування №2
  -#  %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту
  -#.poll
  -#  .head
  -#    .icon
  -#      %i.fa.fa-check-square-o.fa-2x
  -#    %a{:href => "#"}
  -#      .title Опитування №3
  -#  %p Гармонійні ритми пронизують увесь світ. Вони в нас і навколо нас. Проте, ми нажаль, перестали прислухатися до них, хоча варто зробити невелике зусилля, як музика Всесвіту


-#    Опитування №1 (текст)
-#варіант 1
-#варіант 2
-#варіант
-#3