- if cookies[poll.id.to_s] == poll.id.to_s
  Ваш голос враховано!
-#- if notice
-#  %p#notice
-#    %span= notice
.head
  .icon
    %i.fa.fa-check-square-o.fa-2x
  %a{:href => "#"}
    .title Опитування №#{i}
%p= poll.question
= form_tag(reply_path, method: "post", remote: true) do
  = hidden_field_tag 'question', "#{poll.id}"
  - poll.replies.sort_by(&:order_answer).each do |reply|
    .rdio-b
      = radio_button_tag('reply', "#{reply.id}", checked = false, options = {class: "color_input"})
      = reply.answer
  .actions.clearfix
    - if cookies[poll.id.to_s] != poll.id.to_s
      = submit_tag("Відправити", :class=>"btn btn-success")
    - if Admin::Poll.count_plus?(poll)
      = link_to "Результати", polls_chart_url(poll), title: "Результати", :class=>"btn btn-primary"
.chart{:style => "display: none"}