= form_for(@medical_setups_group, html: { class: 'form-horizontal' })  do |m|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @medical_setups_group.errors.any?
        #error_explanation
          %h2
            = pluralize(@medical_setups_group.errors.count, "error")
            prohibited this news from being saved:
          %ul
            - @medical_setups_group.errors.full_messages.each do |msg|
              %li= msg

  .form-group
    .field
      = m.label :name, 'Назва', :class => 'col-sm-2 control-label'
      .col-sm-10
        = m.text_field :name, :class => 'form-control input-responsive'
  .form-group
    = m.label :ang_name,'URL name', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :ang_name, :class => 'form-control input-responsive'
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = m.submit buttom, :class => 'btn btn-primary'