.container
  %p#notice= notice
  %p
    %h2
      Група статей
      %em
        = @articles_group.title
  %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
    %tbody
      %tr
        %th Назва:
        %td= @articles_group.title
      %tr
        %th URL назва:
        %td= @articles_group.title_english
      %tr
        %th Публікувати?
        %td= @articles_group.publish_on
      %tr
        %th Опис:
        %td= @articles_group.description


  = link_to 'Редагувати', edit_admin_articles_group_path(@articles_group), :class => 'btn btn-primary'

  = link_to 'Повернутись', admin_articles_groups_path, :class => 'btn btn-primary'
