:scss
  .admin_all_news{
    td.wrap{
      text-align: justify;
    }
    td .btn{
       display: inline-block;
       margin: 0px 0px 5px;
       padding: 4px 6px;
       width: 30px;
    }
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.admin_all_news
  .container
    .heading
      .title
        %h1 Список новин
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'Створити новину', new_admin_news_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %thead
        %tr
          -#%th #
          %th Картинка
          %th Заголовок
          %th Опис
          %th Публікувати?

          %th Дія
      %tbody
        - @news.each do |u|
          %tr
            -#%td= u.id.to_s.last(8)
            %td
              - if u.image?
                =image_tag u.image.thumb
            %td= u.title
            -#%td.wrap= simple_format(u.description)
            %td.wrap= truncate(strip_tags(u.description), length: 610)
            %td{ align: 'center' }= u.publish_on

            %td

              = link_to '<i class="fa fa-eye "></i>'.html_safe, admin_news_path(u), title: "Переглянути",  :class => 'btn btn-info'
              -#= link_to 'Редагувати', edit_admin_news_path(u), :class => 'btn btn-default'
              = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_news_path(u), title: "Редагувати", :class => 'btn btn-primary'
              = link_to '<i class="fa fa-trash-o"></i>'.html_safe, u, title: "Видалити", :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'