:scss
  .admin_all_news{
    td.wrap{
      text-align: justify;
    }
    td .btn{
       display: inline-block;
       margin: 0px 0px 5px;
       padding: 4px 6px;
       width: 30px;
    }
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.admin_all_news
  .container
    -#- hash_1 = { "gдгд" => {FIELD2:"d",IELD3:"",FIELD4:"","FIELD5" =>""},
      "м.Вінниця"=> {
      "FIELD2":"",
      "FIELD3":"",
      "FIELD4":"",
      "FIELD5":"",
      "FIELD6":"",
      "FIELD7":"",
      "FIELD8":"",
      "FIELD9":"",
      "FIELD10":""
      },
      "Міські заклади": {
      "FIELD2":"",
      "FIELD3":"",
      "FIELD4":"",
      "FIELD5":"",
      "FIELD6":"",
      "FIELD7":"",
      "FIELD8":"",
      "FIELD9":"",
      "FIELD10":""
      },
      "№ п/п": {
      "FIELD2":"Назва медичної установи",
      "FIELD3":"Адреса",
      "FIELD4":"Контактні телефони",
      "FIELD5":"Головний лікар",
      "FIELD6":"Електронна пошта",
      "FIELD7":"Ліцензія на право здійснювати медичну діяльність",
      "FIELD8":"",
      "FIELD9":"",
      "FIELD10":"Категорія"
      },
      "": {
      "FIELD2":"",
      "FIELD3":"",
      "FIELD4":"",
      "FIELD5":"",
      "FIELD6":"",
      "FIELD7":"Термін дії ліцензії з",
      "FIELD8":"№ ліцензії серія",
      "FIELD9":"Термін дії акредита-ційного сертифіката по",
      "FIELD10":""
      },
      "1": {
      "FIELD2":"Міська клінічна лікарня №1",
      "FIELD3":"21029, м.Вінниця, вул.Хмельницьке шосе,96",
      "FIELD4":"(0432) 51-12-31",
      "FIELD5":"Турський Олександр Феодосійович",
      "FIELD6":"vinmkl1@ukr.net",
      "FIELD7":"21.07.2011",
      "FIELD8":"АГ №602633",
      "FIELD9":"23.09.2016",
      "FIELD10":"вища"
      },
      "2": {
      "FIELD2":"Міська клінічна лікарня швидкої медичної допомоги ",
      "FIELD3":"21032, м.Вінниця,вул.Київська, 68",
      "FIELD4":"(0432) 66-53-39",
      "FIELD5":"Фомін Олександр Олександрович",
      "FIELD6":"mkl2schmd@ukr.net",
      "FIELD7":"21.06.2012",
      "FIELD8":"АГ №600562",
      "FIELD9":"14.08.2016",
      "FIELD10":"вища"
      },
      "3": {
      "FIELD2":"Міська клінічна лікарня №3",
      "FIELD3":"21019 м.Вінниця вул Маяковського, 138",
      "FIELD4":"(0432) 60-58-12",
      "FIELD5":"Фостаковський Дмитро Стефанович",
      "FIELD6":"sekretar@mkl3.vn.ua    kadri@mkl3.vn.ua",
      "FIELD7":"20.09.2012",
      "FIELD8":"АД №063222",
      "FIELD9":"",
      "FIELD10":"перша"
      },
      "4": {
      "FIELD2":"Міська лікарня “Центр матері та дитини”",
      "FIELD3":"21019  м.Вінниця  вул . Маяковського, 138",
      "FIELD4":"(0432) 68-70-10",
      "FIELD5":"Присяжнюк Володимир Петрович",
      "FIELD6":"micentr@ukr.net",
      "FIELD7":"22.03.2012",
      "FIELD8":"АГ №598516",
      "FIELD9":"24.07..2018",
      "FIELD10":"вища"
      },
      "Чечельницький район": {
      "FIELD2":"",
      "FIELD3":"",
      "FIELD4":"",
      "FIELD5":"",
      "FIELD6":"",
      "FIELD7":"",
      "FIELD8":"",
      "FIELD9":"",
      "FIELD10":""
      },
      "№ п/п": {
      "FIELD2":"Назва медичної установи",
      "FIELD3":"Адреса",
      "FIELD4":"Контактні телефони",
      "FIELD5":"Головний лікар",
      "FIELD6":"Електронна пошта",
      "FIELD7":"Ліцензія на право здійснювати медичну діяльність",
      "FIELD8":"",
      "FIELD9":"",
      "FIELD10":"Категорія"
      },
      "": {
      "FIELD2":"",
      "FIELD3":"",
      "FIELD4":"",
      "FIELD5":"",
      "FIELD6":"",
      "FIELD7":"Термін дії ліцензії з",
      "FIELD8":"№ ліцензії серія",
      "FIELD9":"Термін дії акредитаційного сертифіката по",
      "FIELD10":""
      },
      "1": {
      "FIELD2":"Чечельницька лікарня планового лікування",
      "FIELD3":"24800 Вінницька обл.смт.Чечельник вул.Карла Маркса 60",
      "FIELD4":"(04351) 2-11-03",
      "FIELD5":"Могила Сергій Миколайович",
      "FIELD6":"chhalp@ukrpost.ua",
      "FIELD7":"16.08.2012",
      "FIELD8":"АЕ №281847",
      "FIELD9":"18.12.2017",
      "FIELD10":"друга"
      },
      "2": {
      "FIELD2":"Чечельницький центр первинної медико-санітарної допомоги",
      "FIELD3":"24800, Вінницька обл., Чечельницький р-н, смт.Чечельник вул. К.Маркса,60",
      "FIELD4":"(04351) 2-19-77",
      "FIELD5":"Коваль Віктор Аврамович",
      "FIELD6":"chechcentr@ukr.net",
      "FIELD7":"12.04.2012",
      "FIELD8":"АГ №598491",
      "FIELD9":"18.12.2017",
      "FIELD10":"друга"
      }
    -#}

    -#- hash_1.each do |h|
      =h
    .heading
      .title
        %h1 Список новин
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'Створити новину', new_admin_news_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %thead
        %tr
          -#%th #
          %th Картинка
          %th Заголовок
          %th Опис
          %th Публікувати?

          %th Дія
      %tbody
        - @news.each do |u|
          %tr
            -#%td= u.id.to_s.last(8)
            %td
              - if u.image?
                =image_tag u.image.thumb
            %td= u.title
            %td.wrap= truncate(strip_tags(u.description), length: 410)
            %td{ align: 'center' }= u.publish_on

            %td

              = link_to '<i class="fa fa-eye "></i>'.html_safe, admin_news_path(u), title: "Переглянути",  :class => 'btn btn-info'
              -#= link_to 'Редагувати', edit_admin_news_path(u), :class => 'btn btn-default'
              = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_news_path(u), title: "Редагувати", :class => 'btn btn-primary'
              = link_to '<i class="fa fa-trash-o"></i>'.html_safe, u, title: "Видалити", :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'