:scss
  .admin_all_news{
    td .btn{
       display: inline-block;
       margin: 0px 0 5px;
       padding: 2px 3px;
    }
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.admin_all_news
  .container
    .heading
      .title
        %h1 Список новин
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'Створити новину', new_admin_news_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %thead
        %tr
          %th #
          %th Заголовок
          %th Опис
          %th Публікувати?
          %th Картинка
          %th Дія
      %tbody
        - @news.each do |u|
          %tr
            %td= u.id.to_s.last(8)
            %td= u.title
            %td= u.description
            %td= u.publish_on
            %td
              - if u.image?
                =image_tag u.image.thumb
            %td
              = link_to "Переглянути", admin_news_path(u), :class => 'btn btn-primary'
              = link_to 'Редагувати', edit_admin_news_path(u), :class => 'btn btn-primary'
              = link_to 'Видалити', u, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary'