:scss

  .show-news{
    table{
      border-style:solid;
      border-color:#63B8FF;
    }
  }

.show-news
  .container
    - if notice
      %p#notice= notice
    %p
      %h2
        Новина
        %em
          = @news.title
  .container
    %table.table.table-condensed.table-striped
      %tbody
        %tr
          %th Картинка
          %td
            - if @news.image?
              =image_tag @news.image.thumb
        %tr
          %th Публікувати?
          %td= @news.publish_on ||= "empty"
        %tr
          %th Заголовок
          %td= @news.title
        %tr
          %th Стислий опис
          %td.description= @news.pre_text
        %tr
          %th Ключові слова для пошуку
          %td= @news.meta_keywords
        %tr
          %th Опис для пошуку
          %td= @news.meta_description
        %tr
          %th Опис
          %td= @news.description.html_safe
    = link_to 'Усі новини', admin_news_index_path, :class => 'btn btn-primary'
    = link_to 'Редагувати', edit_admin_news_path(@news), :class => 'btn btn-primary'
    = link_to 'Видалити', admin_news_path(@news), :class => 'btn btn-primary',
      method: :delete,
      data: { confirm: 'Ви впевнені?' }