-#%link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin: "anonymous"}

-#%link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css", :rel => "stylesheet"}/
-#%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"}
-#%script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"}

%link{:href => "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css", :rel => "stylesheet"}/
%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"}
= form_for(@article, html: { class: 'form-horizontal' }) do |f|
  .form-group
    .col-sm-10.col-md-offset-2
    - if @article.errors.any?
      #error_explanation
        %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
        %ul
          - @article.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :articles_group_id,'Категорія', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.select :admin_articles_group_id, Admin::ArticlesGroup.all.collect {|x| [x.title, x.id]}, {},:class => 'form-control input-responsive'
  .form-group
    = f.label :title,'Заголовок', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, :class => 'form-control input-responsive'
  -#.form-group
    = f.label :description,'Повний опис', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, :class => 'form-control input-responsive'
  .form-group
    = f.label :publish_on, 'Публікувати?', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :publish_on, :class => 'form-control input-responsive'
  .form-group
    = f.label :meta_keywords,'Meta_keywords', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :meta_keywords, :class => 'form-control input-responsive'
  .form-group
    = f.label :meta_description,'Meta_description', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :meta_description, :class => 'form-control input-responsive'

  .form-group
    .col-sm-12
      -#= f.text_area :description
      -#= f.label :content, 'Публікувати?', :class => 'col-sm-2 control-label'
      -#= f.input :content, :as => :ckeditor
      -#= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => { :height => 400 } }
      -#= f.cktext_area :notes, :class => 'someclass', :ckeditor => {:language => 'uk'}
      -#= f.cktext_area :description, :ckeditor => {:uiColor => '#E1E4E3', :toolbar => 'mini',:language => 'uk',:height => '400',:autoParagraph => true }, :class => 'form-control input-responsive'
      = f.cktext_area :description, :ckeditor => {:uiColor => '#E1E4E3',:language => 'uk',:height => '400',:autoParagraph => true }, :class => 'form-control input-responsive'
      -#= f.cktext_area :title, :class => 'form-control input-responsive', :ckeditor => {:language => 'uk'}
      -#= f.cktext_area :description, :value => 'Default value', :id => 'sometext'
      -#= cktext_area :description, :info, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini',:language => 'uk'}
      -#= cktext_area :page, :info, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'}

  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit 'Save', :class => 'btn btn-primary'


:javascript
  // for summernote editor
  //$(document).ready(function() {
  //  $('#article_description').summernote({
  //
  //
  //    lang: 'uk-UA',
  //    focus: true
  //  });
  //});