:scss
  .label-ckeditor{
    text-align: center;
    padding-bottom: 5px;
  }
= form_for(@article, html: { class: 'form-horizontal' }) do |f|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @article.errors.any?
        #error_explanation
          %h2= "Не дозволяють зберегти статтю #{pluralize(@article.errors.count, "error")}:"
          %ul
            - @article.errors.full_messages.each do |msg|
              %li= msg
  .form-group
    = f.label :articles_group_id,'Категорія', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.select :admin_articles_group_id, Admin::ArticlesGroup.get_groups_articles_for_select(current_user.admin_roles.first), {},:class => 'form-control input-responsive'
  .form-group
    = f.label :title,'Заголовок', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, :class => 'form-control input-responsive'
  .form-group
    = f.label :title_english, 'URL назва', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title_english, :class => 'form-control input-responsive'
  .form-group
    = f.label :publish_on, 'Публікувати?', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :publish_on, :class => 'form-control input-responsive'
  .form-group
    = f.label :meta_keywords,'Meta_keywords', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :meta_keywords, :class => 'form-control input-responsive'
  .form-group
    = f.label :meta_description,'Meta_description', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :meta_description, :class => 'form-control input-responsive'

  .form-group.label-ckeditor
    = f.label :description, 'Тіло статті', :class => 'label-ckeditor control-label'
    .col-sm-12
      -#= f.cktext_area :description, :ckeditor => {:uiColor => '#E1E4E3', :toolbar => 'mini',:language => 'uk',:height => '400',:autoParagraph => true }, :class => 'form-control input-responsive'
      = f.cktext_area :description, :ckeditor => {:toolbar => 'full', :uiColor => '#E1E4E3',:language => 'uk',:height => '400',:autoParagraph => true }, :class => 'form-control input-responsive'
      -#= f.cktext_area :title, :class => 'form-control input-responsive', :ckeditor => {:language => 'uk'}
      -#= f.cktext_area :description, :value => 'Default value', :id => 'sometext'
      -#= cktext_area :description, :info, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini',:language => 'uk'}
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit 'Зберегти', :class => 'btn btn-primary'
