-#%h1 Listing articles
-#
-#%table
-#  %thead
-#    %tr
-#      %th
-#      %th
-#      %th
-#
-#  %tbody
-#    - @articles.each do |article|
-#      %tr
-#        %td= link_to 'Show', article
-#        %td= link_to 'Edit', edit_article_path(article)
-#        %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#%br
-#
-#= link_to 'New Article', new_article_path

:scss
  .admin_all_news{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
    thead{
      th{
        white-space: nowrap;
      }
    }
    tbody{

      .des-html{
        overflow-y: scroll;
        width:100%;
        height: 300px;
      }
    }

  }

.admin_all_news
  .container
    .heading
      .title
        %h1 Список статей
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'New Article', new_admin_article_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped{:style => "border-size: 1px; border-bottom-style:solid; border-color:#B9B9B9"}
      %thead
        %tr
          -#%th Type menu item
          -#%th Type menu
          %th Title
          %th Description
          %th Publish
          %th Date create
          %th Group
          %th
          %th
          %th
      %tbody
        - @articles.each do |article|
          %tr
            %td= article.title
            %td
              - all_text = Nokogiri::HTML(%{#{article.description.html_safe}})
              = all_text.at_css("p").text.first(120) unless all_text.at_css("p").nil?
            %td= article.publish_on
            %td= article.created_at.to_s.first(10)
            %td= article.admin_articles_group.title unless article.admin_articles_group.nil?
            %td= link_to 'Show', article
            %td= link_to 'Edit', edit_admin_article_path(article)
            %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }
          -#%tr
            %td{:colspan => 6}
              .des-html= article.description.html_safe
