:scss
  .admin-articles{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
    thead{
      th{
        white-space: nowrap;
      }
    }
    tbody{
      .des-html{
        overflow-y: scroll;
        width:100%;
        height: 300px;
      }
    }

  }

.admin-articles
  .container
    .heading
      .title
        %h1 Список статей
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'Нова стаття', new_admin_article_path, :class => 'btn btn-primary'
      = render partial: 'search'
  .container


    .articles-table.table-responsive
      %table.table.table-condensed.table-striped{:style => "border-size: 1px; border-bottom-style:solid; border-color:#B9B9B9"}
        %thead
          %tr
            -#%th Type menu item
            -#%th Type menu
            %th
              = sortable "title", 'Назва'
            %th
              = sortable "title_english", 'URL назва'
            %th
              = sortable "publish_on", 'Публікувати?'
            %th
              = sortable "created_at", 'Дата створення'
            %th
              = sortable "admin_articles_group_id", 'Група'
            %th
            %th Дія
            %th
        %tbody#results
          = render partial: "search_articles", :locals => { articles: @articles }
    .panel-paginate
      = paginate @articles #, :remote => true
