.container
  - if notice
    %p#notice= notice
  %p
    %h2
      Стаття
      %em
        = @article.title
.container
  %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
    %tbody
      %tr
        %th #
        %td= @article.id
      %tr
        %th Title
        %td= @article.title
      %tr
        %th Description
        %td= @article.description.html_safe ||= "empty"

  = link_to 'Усі статті', articles_path, :class => 'btn btn-primary'
  -#- if current_user && current_user.editor?
  = link_to 'Редагувати', edit_article_path(@article), :class => 'btn btn-primary'
  -#- if current_user && current_user.admin?
  = link_to 'Видалити', article_path(@article), :class => 'btn btn-primary', |
    method: :delete,                                                  |
    data: { confirm: 'Ви впевнені?' }