:scss
  .admin-polls{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{

          margin:20px 0 5px;
        }
      }
    }
    table{
      //font-size: 13px;
      thead{
        th:last-child{
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:last-child{
          text-align: center;
        }
        td .btn{
         display: inline-block;
         margin: 0px 0px 5px;
         padding: 4px 6px;
         width: 30px;
        }
      }
    }
    //thead{
    //  th{
    //    white-space: nowrap;
    //  }
    //}
    //tbody{
    //  .des-html{
    //    overflow-y: scroll;
    //    width:100%;
    //    height: 300px;
    //  }
    //}

  }
.container.admin-polls
  -if notice
    %p#notice= notice
  .heading
    .title
      %h1 Список опитувань
    .btn-new-news
      -#- if current_user && current_user.admin?
      = link_to 'Нове опитування', new_admin_poll_path, :class => 'btn btn-primary'
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Порядок
        %th Назва
        %th Публікувати?
        %th Дії

    %tbody
      - @polls.each do |poll|
        %tr
          %td= poll.order_question
          %td= poll.question
          %td= poll.publish_on
          -#%td= @admin_question.replies
          %td
            -#= link_to 'Show', poll
            -#= link_to 'Edit', edit_admin_poll_path(poll)
            -#= link_to 'Destroy', poll, :method => :delete, :data => { :confirm => 'Are you sure?' }
            = link_to '<i class="fa fa-eye "></i>'.html_safe, poll, title: "Переглянути",  :class => 'btn btn-info'
            = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_poll_path(poll), title: "Редагувати", :class => 'btn btn-primary'
            = link_to '<i class="fa fa-trash-o"></i>'.html_safe, poll, title: "Видалити", :method => :delete, :data => { :confirm => 'Ви впевнені?' }, :class => 'btn btn-danger'
