:scss
  .show-poll{
    .heading{
      .title{
        display: inline-block;
        h3{
          margin: 5px 0;
        }
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:5px 0 0px;
        }
      }
    }
  }

.container.show-poll
  %p#notice= notice
  .heading
    .title
      %h3
        %em= @poll.question
    .btn-new-news
      = link_to 'Редагувати', edit_admin_poll_path(@poll), :class => 'btn btn-primary'
      = link_to 'Всі опитування', admin_polls_path, :class => 'btn btn-primary'
  - if @poll.replies
    - if @poll.replies.size > 0
      - @poll.replies.sort_by(&:order_answer).each_with_index do |reply, i|
        %h4
          = 'Відповідь ' + "#{i+1}" + ':  '
          = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_poll_reply_path(@poll, reply), title: "Редагувати", :class => 'btn btn-primary'
          = link_to '<i class="fa fa-trash-o"></i>'.html_safe, [@poll, reply], title: "Видалити", :method => :delete, :data => { :confirm => 'Ви впевнені?' }, :class => 'btn btn-danger'
          %em= "--- " + reply.answer

  %h2 Нова відповідь
  = form_for [@poll, @reply], html: { class: 'form-horizontal' } do |f|
    - if @reply.errors.any?
      #error_explanation
        %h2= "#{pluralize(@reply.errors.count, "error")} prohibited this reply from being saved:"
        %ul
          - @reply.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      .field
        = f.label :answer, 'Текст відповіді', :class => 'col-sm-12'
        .col-sm-12
          = f.text_field :answer, :class => 'form-control input-responsive'
    .form-group
      .field
        = f.label :order_answer, 'Порядок відображення', :class => 'col-sm-12'
        .col-sm-12
          = f.select :order_answer, [1,2,3,4,5,6,7,8,9,10], {}, :class => 'form-control input-responsive'
    .form-group
      .actions
        .col-sm-12
          = f.submit 'Створити відповідь', :class => 'btn btn-primary'

