

.container
  %p#notice= notice
  %h3
    %p
      Publish on:
      %em= @poll.publish_on
    %em= @poll.question + ":"
  - if @poll.replies
    - if @poll.replies.size > 0
      - @poll.replies.sort_by(&:value).each_with_index do |reply, i|
        %h4
          = 'Reply ' + "#{i+1}" + ': - '
          = link_to 'Edit', edit_admin_poll_reply_path(@poll, reply)
          = link_to 'Destroy', [@poll, reply], :method => :delete, :data => { :confirm => 'Are you sure?' }
          -#= reply.id
          =reply.order_answer if reply.order_answer
          %em= "--- " + reply.answer


      -#- for comment in @@admin_question.replies
      -#  %h4
      -#    = 'reply '
      -#    = comment.id
      -#    = "--- " + comment.answer
      -#  = link_to 'Edit', edit_admin_test_reply_path(@@admin_question, comment)
      -#  = link_to 'Destroy', [@@admin_question, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }
  %h2 New reply
  = form_for [@poll, @reply], html: { class: 'form-horizontal' } do |f|
    - if @reply.errors.any?
      #error_explanation
        %h2= "#{pluralize(@reply.errors.count, "error")} prohibited this reply from being saved:"
        %ul
          - @reply.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      .field
        = f.label :answer, false, :class => 'col-sm-12'
        .col-sm-12
          = f.text_field :answer, :class => 'form-control input-responsive'
    .form-group
      .field
        = f.label :value, false, :class => 'col-sm-12'
        .col-sm-12
          = f.text_field :value, :class => 'form-control input-responsive'
    .form-group
      .field
        = f.label :order_answer, false, :class => 'col-sm-12'
        .col-sm-12
          = f.select :order_answer, options_for_select(1..25), {}, :class => 'form-control input-responsive'

    .form-group
      .actions
        .col-sm-12
          = f.submit :class => 'btn btn-primary'
    -#%p
    -#  = f.label :answer, 'Reply'
    -#  = f.text_field :answer
    -#%p= f.submit

  = link_to 'Edit', edit_admin_poll_path(@poll)
  \|
  = link_to 'Back', admin_polls_path
