= form_for @admin_people_file, html: { class: 'form-horizontal' } do |f|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @admin_people_file.errors.any?
        #error_explanation
          %h2= "Не дозволяють зберегти матеріал #{pluralize(@admin_people_file.errors.count, "error")}:"
          %ul
            - @admin_people_file.errors.full_messages.each do |msg|
              %li= msg
  .form-group
    = f.label :file, 'Файл', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :file, :class => 'form-control input-responsive'
  .form-group
    = f.label :title, 'Назва', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, :required => true, :class => 'form-control input-responsive'
  .form-group
    = f.label :description,'Опис', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, :required => true, :class => 'form-control input-responsive'
  .form-group
    = f.label :publish_on, 'Публікувати? ', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :publish_on, :class => 'form-control input-responsive'

  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit 'Зберегти', :class => 'btn btn-primary'
