%h1 Listing admin_people_files

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Publish on
      %th
      %th
      %th

  %tbody
    - @admin_people_files.each do |admin_people_file|
      %tr
        %td= admin_people_file.title
        %td= admin_people_file.description
        %td= admin_people_file.publish_on
        %td= link_to 'Show', admin_people_file
        %td= link_to 'Edit', edit_admin_people_file_path(admin_people_file)
        %td= link_to 'Destroy', admin_people_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New People file', new_admin_people_file_path
