%p#notice= notice

%p
  %b Title:
  = @admin_people_file.title
%p
  %b Description:
  = @admin_people_file.description
%p
  %b Publish on:
  = @admin_people_file.publish_on

= link_to 'Edit', edit_admin_people_file_path(@admin_people_file)
\|
= link_to 'Back', admin_people_files_path
