= form_for(@medical_setup, html: { class: 'form-horizontal' })  do |f|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @medical_setup.errors.any?
        #error_explanation
          %h2
            = pluralize(@medical_setup.errors.count, "error")
            prohibited this news from being saved:
          %ul
            - @medical_setup.errors.full_messages.each do |msg|
              %li= msg

  .form-group
    .field
      = f.label :name, 'Назва', :class => 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :name, :class => 'form-control input-responsive'
  .form-group
    = f.label :address,'Адреса', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :address, :class => 'form-control input-responsive'
  .form-group
    = f.label :phone,'Телефон', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :phone, :class => 'form-control input-responsive'
  .form-group
    = f.label :head_doctor, 'Головний лікар', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :head_doctor, :class => 'form-control input-responsive'
  .form-group
    = f.label :email,'Електронна пошта', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.email_field :email, :class => 'form-control input-responsive'
  .form-group
    = f.label :number_license,'Номер ліцензії', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :number_license, :class => 'form-control input-responsive'
  .form-group
    = f.label :date_start, 'Початок дії ліцензії', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :date_start, :placeholder=> "31.12.2012", :class => 'form-control input-responsive'
  .form-group
    = f.label :date_finish,'Кінець дії ліцензії', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :date_finish, :placeholder=> "31.12.2016", :class => 'form-control input-responsive'
  .form-group
    = f.label :medical_level,'Категорія', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :medical_level, :placeholder=> "вища, перша, друга", :class => 'form-control input-responsive'
  .form-group
    = f.label :admin_medical_setup_category_id,'Група', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.select :admin_medical_setup_category_id, Admin::MedicalSetupsGroup.all.collect {|x| [x.name, x.id]}, {},:class => 'form-control input-responsive'
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit buttom, :class => 'btn btn-primary'