= form_for(@medical_setup, html: { class: 'form-horizontal' })  do |m|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @medical_setup.errors.any?
        #error_explanation
          %h2
            = pluralize(@medical_setup.errors.count, "error")
            prohibited this news from being saved:
          %ul
            - @medical_setup.errors.full_messages.each do |msg|
              %li= msg

  .form-group
    .field
      = m.label :name, 'Назва', :class => 'col-sm-2 control-label'
      .col-sm-10
        = m.text_field :name, :class => 'form-control input-responsive'
  .form-group
    = m.label :address,'Адреса', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :address, :class => 'form-control input-responsive'
  .form-group
    = m.label :phone,'Телефон', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :phone, :class => 'form-control input-responsive'
  .form-group
    = m.label :head_doctor, 'Головний лікар', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :head_doctor, :class => 'form-control input-responsive'
  .form-group
    = m.label :email,'Пошта', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.email_field :email, :class => 'form-control input-responsive'
  .form-group
    = m.label :number_license,'Номер ліцензії', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :number_license, :class => 'form-control input-responsive'
  .form-group
    = m.label :date_start, 'Початок дії ліцензії', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :date_start, :placeholder=> "31.12.2012", :class => 'form-control input-responsive'
  .form-group
    = m.label :date_finish,'Кінець дії ліцензії', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :date_finish, :placeholder=> "31.12.2016", :class => 'form-control input-responsive'
  .form-group
    = m.label :medical_level,'Категорія', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.text_field :medical_level, :placeholder=> "вища, перша, друга", :class => 'form-control input-responsive'
  .form-group
    = m.label :admin_medical_setup_category_id,'Група', :class => 'col-sm-2 control-label'
    .col-sm-10
      = m.select :admin_medical_setup_category_id, Admin::MedicalSetupCategory.all.collect {|x| [x.name, x.id]}, {},:class => 'form-control input-responsive'

  -#.form-group
  -#  = u.label :publish_up, 'Початок публікації', :class => 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = u.datetime_select :publish_up, :order => [:day, :month, :year, :hour, :minute], :class => 'datetimepicker form-control input-responsive'
  -#.form-group
  -#  = u.label :publish_down, 'Кінець публікації', :class => 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = u.datetime_select :publish_down, :order => [:day, :month, :year, :hour, :minute], :class => 'form-control input-responsive'
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = m.submit buttom, :class => 'btn btn-primary'

-#:javascript
-#  $(function () {
-#    $('.datetimepicker').datetimepicker({
-#      sideBySide: true
-#    });
-#  });