:scss
  .medical_setups{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news, .medical_setups_groups{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
    table{
      font-size: 13px;
      thead{
        th{
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:nth-child(n+7), td:first-child{
          text-align: center;
        }
        td .btn{
         display: inline-block;
         margin: 0px 0px 5px;
         padding: 4px 6px;
         width: 30px;
        }
      }
    }
    .medical_setups_groups{
      display: inline-block;
      float: right;
      .btn{
        margin: 5px 0 20px;
      }
    }
  }

.medical_setups
  .container
    .heading
      .title
        %h1= params[:category] ||= 'Список медичних установ'
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'Нова медична установа', new_admin_medical_setup_path, :class => 'btn btn-primary'
      = render partial: 'search'
  .container-fluid
    -#.col-md-10.col-md-offset-1
    .medical-setups-table.table-responsive
      %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
        %thead
          %tr
            %th{rowspan: 2} № п/п
            %th{rowspan: 2} Назва медичної установи
            %th{rowspan: 2} Адреса
            %th{rowspan: 2} Контактні телефони
            %th{rowspan: 2} Головний лікар
            %th{rowspan: 2} Електронна пошта
            %th{colspan: 3} Ліцензія на право здійснювати медичну діяльність
            %th{rowspan: 2} Категорія
            %th{rowspan: 2} Дія
            -#%th{rowspan: 2} Сайт
            -#%th{rowspan: 2} Локація
          %tr
            -#%th Діє з
            -#%th Номер ліцензії
            -#%th Діє до
            %th Термін дії ліцензії з
            %th № ліцензії серія
            %th Термін дії акредитаційного сертифіката по
        %tbody#results
          = render partial: "search_medical_setups", :locals => { medical_setups: @medical_setups }
    .medical_setups_groups
      = link_to 'Групи медичних установ', admin_medical_setups_groups_path, :class => 'btn btn-primary'