.show-medical-setup
  .container
    - if notice
      %p#notice= notice
    %p
      %h2
        Медична установа
        %em
          = @medical_setup.name
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %tbody
        %tr
          %th Назва медичної установи
          %td= @medical_setup.name
        %tr
          %th Адреса
          %td= @medical_setup.address
        %tr
          %th Контактні телефони
          %td= @medical_setup.phone
        %tr
          %th Головний лікар
          %td= @medical_setup.head_doctor
        %tr
          %th Електронна пошта
          %td= @medical_setup.email
        -#%tr
        -#  %th Ліцензія на право здійснювати медичну діяльність
        %tr
          %th № ліцензії серія
          %td= @medical_setup.date_start
        %tr
          %th Термін дії ліцензії з
          %td= @medical_setup.number_license
        %tr
          %th Термін дії акредитаційного сертифіката по
          %td= @medical_setup.date_finish
        %tr
          %th Категорія
          %td= @medical_setup.medical_level
    = link_to 'Медичні установи', admin_medical_setups_path, :class => 'btn btn-primary'
    -#- if current_user && current_user.editor?
    = link_to 'Редагувати', edit_admin_medical_setup_path(@medical_setup), :class => 'btn btn-primary'
    -#- if current_user && current_user.admin?
    = link_to 'Видалити', @medical_setup, :class => 'btn btn-primary', |
      method: :delete,                                                  |
      data: { confirm: 'Ви впевнені?' }                                |