.container
  %p#notice= notice

  %p
    %b Type way:
    = @menu_item.type_level
  %p
    %b Type item:
    = @menu_item.type_item
  %p
    %b Title:
    = @menu_item.title
  %p
    %b Parent:
    = @menu_item.parent_id
  %p
    %b Show:
    = @menu_item.show

  = link_to 'Edit', edit_menu_item_path(@menu_item)
  \|
  = link_to 'Back', menu_items_path
