= form_for @admin_file, html: { class: 'form-horizontal' } do |f|
  - if @admin_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_file.errors.count, "error")} prohibited this admin_file from being saved:"
      %ul
        - @admin_file.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :file, 'Файл', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :file, :class => 'form-control input-responsive'
  .form-group
    = f.label :description, 'Опис', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, rows: "4", :class => 'form-control input-responsive'
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit 'Зберегти', :class => 'btn btn-primary'

