:scss
  .admin-photo-galleries{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
    table{
      //font-size: 13px;
      thead{
        th:last-child{
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:last-child{
          text-align: center;
        }
        td .btn{
         display: inline-block;
         margin: 0px 0px 5px;
         padding: 4px 6px;
         width: 30px;
        }
      }
    }
  }
.container.admin-photo-galleries
  %p#notice= notice
  .heading
    .title
      %h1 Список фотогалерей
    .btn-new-news
      -#- if current_user && current_user.admin?
      = link_to 'Нова галерея', new_admin_photo_gallery_path, :class => 'btn btn-primary'
  %table.table.table-condensed.table-striped
    %thead
      %tr
        -#%th Порядок
        %th Назва
        %th Опис
        %th Дата створення
        %th Публікувати?
        %th Дії

    %tbody
      - @admin_photo_galleries.each do |gallery|
        %tr
          %td= gallery.title
          %td= gallery.description
          %td= l(gallery.created_at, :format => "%d-%m-%Y")
          %td= gallery.publish_on
          -#%td= @admin_question.replies
          %td
            = link_to '<i class="fa fa-eye "></i>'.html_safe, gallery, title: "Переглянути",  :class => 'btn btn-info'
            = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_photo_gallery_path(gallery), title: "Редагувати", :class => 'btn btn-primary'
            = link_to '<i class="fa fa-trash-o"></i>'.html_safe, gallery, title: "Видалити", :method => :delete, :data => { :confirm => 'Ви впевнені?' }, :class => 'btn btn-danger'