:scss
  .show-gallery{
    .heading{
      .title{
        display: inline-block;
        h3{
          margin: 5px 0;
        }
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:5px 0 0px;
        }
        .form{
          display: inline-block;
          form{
            margin-bottom: 0;
          }
          input[type="file"]{
            display: none;
          }
        }
      }
    }
    .photo{
      position: relative;
      display: inline-block;
      padding-right: 20px;
      width: 33%;
      img{
        vertical-align: top;
        width: 100%;
      }
      .btn-photo{
        position: absolute;
        top: -5px;
        padding: 3px 5px;
        border-radius: 15px;
        font-size: 15px;
      }
      .btn-edit{
        left: -5px;
      }
      .btn-delete{
        right: 15px;
      }
    }
    .photo:nth-child(3n){
      padding-right: 0px;
      .btn-edit{
        left: -5px;
      }
      .btn-delete{
        right: -5px;
      }
    }
    .sortable-placeholder {
      display: inline-block;
      border: 1px dashed #CCC;
      background-color: #f9f9f9;
      //height: 80px;
      width: 30%;
      margin: 5px;
    }
    .sortable {
      display: list-item;
    }
  }

.container.show-gallery
  %p#notice= notice
  .heading.clearfix
    .title
      %h3
        %em= @admin_photo_gallery.title
    .btn-new-news
      .form
        = form_for [@admin_photo_gallery, @photo], html: { class: 'form-horizontal' } do |f|
          - if @photo.errors.any?
            #error_explanation
              %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this reply from being saved:"
              %ul
                - @photo.errors.full_messages.each do |msg|
                  %li= msg
          = f.label :image, 'Додати фото', :class => 'control-label btn btn-info file-label'
          = f.file_field :image, accept: 'image/*', onChange: 'form.submit()', :class => 'form-control input-responsive'
      = link_to 'Редагувати', edit_admin_photo_gallery_path(@admin_photo_gallery), :class => 'btn btn-primary'
      = link_to 'Всі фотогалереї', admin_photo_galleries_path, :class => 'btn btn-primary'
  %p
    %b
      Дата створення:
      = l(@admin_photo_gallery.created_at, :format => "%d-%m-%Y")
  %p= simple_format(@admin_photo_gallery.description)

  .photos.sortable
    - if @admin_photo_gallery.photos.any?
      = render 'admin/photos/photo'

:javascript

  var ready, set_positions;

  set_positions = function(){
    // loop through and give each task a data-pos
    // attribute that holds its position in the DOM
    $('.photo').each(function(i){
      $(this).attr("data-pos",i+1);
    });
  }

  ready = function(){
    // call set_positions function
    set_positions();

    $('.sortable').sortable();

      $('.sortable').sortable().bind('sortupdate', function(e, ui) {
      // array to store new order
      updated_order = []
      // set the updated positions
      set_positions();

      // populate the updated_order array with the new task positions
      $('.photo').each(function(i){
          updated_order.push({ id: $(this).data("id"), position: i+1 });
      });

      // send the updated order via ajax
      $.ajax({
          type: "PUT",
          url: '/admin/photo_galleries/#{@admin_photo_gallery.id}/photos/sort',
          data: { order: updated_order }
      });
    });
  }

  $(document).ready(ready);
  /**
   * if using turbolinks
   */
  $(document).on('page:load', ready);