:scss
  .show-gallery{
    .heading{
      .title{
        display: inline-block;
        h3{
          margin: 5px 0;
        }
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:5px 0 0px;
        }
        .form{
          display: inline-block;
          form{
            margin-bottom: 0;
          }
          input[type="file"]{
            display: none;
          }
          label.file-label{
            //vertical-align: middle;
            //text-align: center;
            //color: white;
            //border-radius: 5px;
            //background: linear-gradient(to left bottom, blue, #51C5FF, blue);
          }
        }
      }
    }
    .photo{
      position: relative;
      display: inline-block;
      padding-right: 20px;
      width: 32.5%;
      img{
        vertical-align: top;
        width: 100%;
      }
      .btn-photo{
        position: absolute;
        top: -5px;
        padding: 3px 5px;
        border-radius: 15px;
        font-size: 15px;
      }
      .btn-edit{
        left: -5px;
      }
      .btn-delete{
        right: 15px;
      }
    }
    .photo:nth-child(3n){
      padding-right: 0px;
      .btn-edit{
        left: -5px;
      }
      .btn-delete{
        right: -5px;
      }
    }
    .form{
      //input[type="file"]{
      //  display: none;
      //}
      //label.file-label{
      //  font-size: 18px;
      //  vertical-align: middle;
      //  text-align: center;
      //  color: white;
      //  //border: 1px solid blue;
      //  border-radius: 5px;
      //  background: linear-gradient(to left bottom, yellow, green, blue);
      //}
    }
    .sortable-placeholder {
      border: 1px dashed #CCC;
      background-color: #f9f9f9;
      height: 80px;
      margin-bottom: 10px;
    }
    .sortable {
      display: list-item;
    }
  }

.container.show-gallery
  %p#notice= notice
  .heading.clearfix
    .title
      %h3
        %em= @admin_photo_gallery.title
    .btn-new-news
      .form
        = form_for [@admin_photo_gallery, @photo], html: { class: 'form-horizontal' } do |f|
          - if @photo.errors.any?
            #error_explanation
              %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this reply from being saved:"
              %ul
                - @photo.errors.full_messages.each do |msg|
                  %li= msg
          = f.label :image, 'Додати фото', :class => 'control-label btn btn-info file-label'
          = f.file_field :image, onChange: 'form.submit()', :class => 'form-control input-responsive'
      = link_to 'Редагувати', edit_admin_photo_gallery_path(@admin_photo_gallery), :class => 'btn btn-primary'
      = link_to 'Всі фотогалереї', admin_photo_galleries_path, :class => 'btn btn-primary'
  %p
    %b Опис:
    = simple_format(@admin_photo_gallery.description)

  -#.form.clearfix
    %h2.col-sm-offset-2 Нове фото
    = form_for [@admin_photo_gallery, @photo], html: { class: 'form-horizontal' } do |f|
      - if @photo.errors.any?
        #error_explanation
          %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this reply from being saved:"
          %ul
            - @photo.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        = f.label :image, 'Додати фото', :class => 'col-sm-2 control-label file-label'
        .col-sm-10
          = f.file_field :image, onChange: 'form.submit()', :class => 'form-control input-responsive'
      .form-group
        .field
          = f.label :title, 'Назва', :class => 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :title, :class => 'form-control input-responsive'
      .form-group
        .field
          = f.label :order_photo, 'Порядок відображення', :class => 'col-sm-2 control-label'
          .col-sm-10
            = f.number_field :order_photo, value: 2, :class => 'form-control input-responsive'
      -#= f.select :order_photo, [1,2,3,4,5,6,7,8,9,10], {}, :class => 'form-control input-responsive'
      .form-group
        .actions
          .col-sm-offset-2.col-sm-10
            = f.submit 'Додати фото', :class => 'btn btn-primary'
  .photos.sortable
    - if @admin_photo_gallery.photos.any?
      -#= render @admin_photo_gallery.photos
      = render 'admin/photos/photo'
      -#- @admin_photo_gallery.photos.sort_by(&:order_photo).each_with_index do |photo, i|
        %div.photo
          -#= link_to image_tag(photo.image.thumb), image_path(photo.image.thumb), title: "rrr", target: "_blank"

          %a{href: "#{image_path(photo.image.thumb)}" , title: "rrr", target: "_blank"}
            =image_tag photo.image.thumb # if photo.image.thumb
          = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_photo_gallery_photo_path(@admin_photo_gallery, photo), title: "Редагувати", :class => 'btn btn-primary btn-photo btn-edit'
          = link_to '<i class="fa fa-times"></i>'.html_safe, [@admin_photo_gallery, photo], title: "Видалити", :method => :delete, :data => { :confirm => 'Ви впевнені?' }, :class => 'btn btn-danger btn-photo btn-delete'
          -#%h4
            = 'Фото ' + "#{i+1}" + ':  '
            = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_photo_gallery_photo_path(@admin_photo_gallery, photo), title: "Редагувати", :class => 'btn btn-primary'
            = link_to '<i class="fa fa-trash-o"></i>'.html_safe, [@admin_photo_gallery, photo], title: "Видалити", :method => :delete, :data => { :confirm => 'Ви впевнені?' }, :class => 'btn btn-danger'
            %em= "--- " + photo.title
            %span
              =image_tag photo.image.thumb if photo.image.thumb
:javascript

  var ready, set_positions;

  set_positions = function(){
    // loop through and give each task a data-pos
    // attribute that holds its position in the DOM
    $('.photo').each(function(i){
      $(this).attr("data-pos",i+1);
    });
  }

  ready = function(){

    // call set_positions function
    set_positions();

    $('.sortable').sortable();

        $('.sortable').sortable().bind('sortupdate', function(e, ui) {
        // array to store new order
        updated_order = []
        // set the updated positions
        set_positions();

        // populate the updated_order array with the new task positions
        $('.photo').each(function(i){
            updated_order.push({ id: $(this).data("id"), position: i+1 });
        });

        // send the updated order via ajax
        $.ajax({
            type: "PUT",
            url: '/tasks/sort',
            data: { order: updated_order }
        });
    });
  }

  $(document).ready(ready);
  /**
   * if using turbolinks
   */
  $(document).on('page:load', ready);