:scss

.public-news
  .container
    .col-sm-11
      %h1 List news
    .col-sm-1
      -#- if current_user && current_user.admin?
      -#%h1= link_to 'New news', new_admin_news_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %thead
        %tr
          %th #
          %th Title
          %th Description
          %th Publish_on
          %th Picture
          %th Show
      %tbody
        - @news.each do |u|
          %tr
            %td= u.id
            %td= u.title
            %td= u.description
            %td= u.publish_on
            %td
              - if u.image?
                =image_tag u.image.thumb
            %td= link_to "Show news", show_one_news_path(u), :class => 'btn btn-primary'