:scss
  .show-one-news{
    margin-top: 10px;
    .panel{
      border-color: #cce7d9;
      background: #F3FFF9;
      .panel-heading{
        background: #cce7d9;
        border-color: #cce7d9;
        strong{
          float: left;
        }
        span{
          float:right;
        }
      }
      .panel-body{

        .image{
          img{
            //margin: 0 auto;
            //margin-bottom: 5px;
            display: block;
            margin: 0 auto 5px;
            width: 100%;
          }
        }
      }
    }

  }

.show-one-news
  .container
    - if notice
      %p#notice= notice


    .col-md-10.col-md-offset-1
      -#%p.row
        %h2
          %em
            = @news.pre_text
      .panel.panel-default
        .panel-heading.clearfix
          %strong
            = @news.title
          %span
            -#= truncate(strip_tags(n.publish_up.to_s), length: 10)
            = (@news.publish_up.to_s).mb_chars.limit(10)
        .panel-body

          .image
            = image_tag @news.image
          .info
            %h4= @news.pre_text
            %p= @news.description
    -#%p.row
      %h2
        News
        %em
          = @news.title
    -#.container
      %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
        %tbody
          %tr
            %th Title
            %td= @news.title
          %tr
            %th Last_time
            %td= @news.publish_down ||= "empty"
          %tr
            %th On
            %td= @news.publish_on ||= "empty"
          %tr
            %th Picture

            %td
              - if @news.image?
                =image_tag @news.image.thumb
    -#= link_to 'Back', admin_news_index_path, :class => 'btn btn-primary'
    -#- if current_user && current_user.editor?
      = link_to 'Edit', edit_admin_news_path(@news), :class => 'btn btn-primary'
    -#- if current_user && current_user.admin?
      = link_to 'Destroy', admin_news_path(@news), :class => 'btn btn-primary', |
        method: :delete,                                                  |
        data: { confirm: 'Are you sure?' }                                |