:scss
  .show-article{
    .title{
      background: #DCEFE5;
      border-radius: 5px;
      min-width: 10px;
      padding: 5px;
      text-align: center;
    }
  }

.show-article
  .container
    - if notice
      %p#notice= notice
    %h2.title
      = @article.title
    %p.description
      = @article.description
  .container
    %h2

    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#00A951"}
      %tbody
        %tr
          %th #
          %td= @article.id
        %tr
          %th Title
          %td= @article.title
        %tr
          %th Description
          %td= @article.description ||= "empty"

    -#= link_to 'Усі статті', articles_path, :class => 'btn btn-primary'
    -#-#- if current_user && current_user.editor?
    -#= link_to 'Редагувати', edit_article_path(@article), :class => 'btn btn-primary'
    -#-#- if current_user && current_user.admin?
    -#= link_to 'Видалити', article_path(@article), :class => 'btn btn-primary', |
    -#  method: :delete,                                                  |
    -#  data: { confirm: 'Ви впевнені?' }