:scss

  .public-news{
    .panel-paginate{
      text-align: center;
    }
    .row{
      padding: 0 15px;
      .one-news{
        background: #F3FFF9;
        border: 1px solid #cce7d9;
        padding: 10px 0;
        margin-bottom: 5px;
        border-radius: 10px 10px 50px 10px;
        .image{
          img{
            display: block;
            margin: 0 auto 5px;
            width: 100%;
          }
        }
        .info{
          p{
            .btn{
              float:right;
              padding: 2px 5px;
            }
            span{
              float:right;
              padding: 3px 10px;
              color: #ABAAAA;
            }
            strong{
              a{
                color: #008F44;
                font-size: 20px;
              }
            }
          }
          .pre-text{
            font-size: 17px;
          }
          .description{
            line-height: 1.6em;
            font-size: 15px;
            word-wrap: break-word;
          }
        }
      }
    }
    .row:nth-child(2n) .one-news{
      background: #F3FDFF;
    }
  }

.public-news
  .container
    %h1 Усі новини
    - @news.each do |news|
      .row
        .one-news.clearfix
          .col-md-2.col-sm-3.image
            = link_to image_tag(news.image), show_one_news_path(news), title: "Переглянути"
          .col-md-10.col-sm-9.info
            %p
              %strong
                %a{:href => show_one_news_path(news), title: "Переглянути"}= news.title
              = link_to "Переглянути", show_one_news_path(news), :class => 'btn btn-success'
              %span
                = (news.publish_up.to_s).mb_chars.limit(10)
            %p.pre-text= news.pre_text
            %p.description= truncate(strip_tags(news.description), length: 400)
    .panel-paginate
      = paginate @news