:scss
  .show-one-news{
    margin-top: 10px;
    .panel{
      border-color: #cce7d9;
      background: #F3FFF9;
      word-wrap: break-word;
      .panel-heading{
        background: #cce7d9;
        border-color: #cce7d9;
        strong{
          float: left;
        }
        span{
          float:right;
        }
      }
      .panel-body{

        .image{
          img{
            display: block;
            margin: 0 auto 5px;
            width: 100%;
          }
        }
      }
    }
  }

.show-one-news
  .container
    - if notice
      %p#notice= notice
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading.clearfix
          %strong
            = @news.title
          %span
            = (@news.publish_up.to_s).mb_chars.limit(10)
        .panel-body
          .image
            = image_tag @news.image
          .info
            %h4= @news.pre_text
            %p= @news.description.html_safe