:scss
  .show-manager-news{
    margin-bottom: 15px;
    table{
      border-style:solid;
      border-color:#63B8FF;
      th.header-description{
        text-align:center;
      }
    }
  }

.show-manager-news
  .container
    - if notice
      %p#notice= notice
    %p
      %h2
        Новина
        %em
          = @admin_managers_news.title
  .container
    %table.table.table-condensed.table-striped
      %tbody
        %tr
          %th Заголовок
          %td= @admin_managers_news.title
        %tr
          %th Дата
          %td= l(@admin_managers_news.date_start, :format => "%d %m %Y")
        %tr
          %th Публікувати?
          %td= @admin_managers_news.publish_on
        %tr
          %th.header-description{colspan: 2} Опис
        %tr
          %td{colspan: 2}= sanitize(@admin_managers_news.description)
    = link_to 'Усі новини', admin_managers_news_index_path, :class => 'btn btn-primary'
    = link_to 'Редагувати', edit_admin_managers_news_path(@admin_managers_news), :class => 'btn btn-primary'
    = link_to 'Видалити', @admin_managers_news, :class => 'btn btn-primary',
      method: :delete,
      data: { confirm: 'Ви впевнені?' }