:scss

  #error_explanation{
    padding: 3px 10px;
    color: #ffffff;
    background: #5bc0de;
    border-radius: 10px;
    h2{
      margin-top:5px;
    }
  }

= form_for @admin_file_document, html: { class: 'form-horizontal' } do |f|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @admin_file_document.errors.any?
        #error_explanation
          %h2= "Не дозволяють зберегти документ #{pluralize(@admin_file_document.errors.count, "error")}:"
          %ul
            - @admin_file_document.errors.full_messages.each do |msg|
              %li= msg

  .form-group
    = f.label :title, "Назва", :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, :class => 'form-control input-responsive'
  .form-group
    = f.label :year_publish, "Затверджено", :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :year_publish,' data-provide' => 'datepicker', :required => true, :class => 'form-control input-responsive datepicker'
  .form-group
    = f.label :file, 'Файл', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :file, :class => 'form-control input-responsive'
  .form-group
    = f.label :admin_file_document_category_ids, "Група документів", :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.select :admin_file_document_category_ids, Admin::FileDocumentCategory.all.collect {|x| [x.title, x.id]}, {}, multiple: true, :required => true,  :class => 'form-control input-responsive'
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit 'Зберегти', :class => 'btn btn-primary'

:javascript

  $(document).ready(function(){
    $('.datepicker').datepicker({
      todayHighlight: true,
      orientation: 'auto bottom',
      format: 'dd-mm-yyyy',
      language: 'ua'
    });
  });