:scss
  .admin-file-documents{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
    table{
      thead{
        th:last-child, th:nth-child(3){
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:last-child, td:nth-child(3){
          text-align: center;
        }
        td .btn{
         display: inline-block;
         margin: 0px 0px 5px;
         padding: 4px 6px;
         width: 30px;
        }
      }
    }
  }
.container.admin-file-documents
  -if notice
    %p#notice= notice
  .heading
    .title
      %h1= session[:file_document_category_title] || 'Список нормативних документів'
    .btn-new-news
      -#- if current_user && current_user.admin?
      = link_to 'Новй документ', admin_new_file_document_path(session[:file_document_category_id]), :class => 'btn btn-primary'
  .file-documents-table.table-responsive
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th
            = sortable "created_at", 'Файл'
          %th
            = sortable "title", 'Назва'
          %th
            = sortable "year_publish", 'Затверджено'
          %th Група
          %th Дії
      %tbody#results
        = render partial: "search_file_documents", :locals => { admin_file_documents: @admin_file_documents }
  .panel-paginate
    = paginate @admin_file_documents #, :remote => true
