.container
  %h1 Listing questions

  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Question
        %th Publish on
        %th

    %tbody
      - @admin_questions.each do |admin_test|
        %tr
          %td= admin_test.question
          %td= admin_test.publish_on
          -#%td= @admin_question.replies
          %td
            = link_to 'Show', admin_test
            = link_to 'Edit', edit_admin_question_path(admin_test)
            = link_to 'Destroy', admin_test, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Question', new_admin_question_path
