:scss
  .roles{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new{
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
    table{
      border-style:solid;
      border-color:#63B8FF;
    }
  }


.container.roles
  %p#notice= notice
  .heading
    .title
      %h1 List roles
    .btn-new
      = link_to 'New role', new_admin_role_path, :class => 'btn btn-primary'
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th #
        %th Title
        %th Parent
        %th Type
        %th Action
    %tbody
      - @roles.each do |r|
        %tr
          %td= r.id
          %td= r.title
          %td= r.parent_id
          %td= r.type_role
          %td= link_to "Show role", admin_role_path(r), :class => 'btn btn-primary'