:scss
  .show-role{
    table{
      border-style:solid;
      border-color:#63B8FF;
    }
  }

.container.show-role
  - if notice
    %p#notice= notice
  %p
    %h2
      Role
      %em
        = @role.title
  %table.table.table-condensed.table-striped
    %tbody
      %tr
        %th Title
        %td
          = @role.title
      %tr
        %th Parent
        %td= @role.parent.title if @role.parent
      %tr
        %th Role level
        %td= @role.type_role
  = link_to 'All roles', admin_roles_path, :class => 'btn btn-primary'
  = link_to 'Edit', edit_admin_role_path(@role), :class => 'btn btn-primary'
  = link_to 'Destroy', admin_role_path(@role), :class => 'btn btn-primary',
    method: :delete,
    data: { confirm: 'Are you sure?' }