- if @images
  - @images.each do |n|
    = link_to image_tag("statistic_gallery/#{@name_gallery}/#{n.split('/').last}"), image_path("statistic_gallery/#{@name_gallery}/#{n.split('/').last}"), title: "#{n.split('/').last.split('.').first}", :rel => "fancybox-button", :class => "fancybox-button"
