:scss
  .gallery-photo{
    a.fancybox-button{
      img{
        width: 32.5%;
        padding: 5px;
        //background-color:red;
      }
    }
    .box{
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #cce7d9;
      .title {
        line-height:1.2;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: #333333;
        }
        a:hover{
          color: #008f44;
        }
      }
      .text{
        margin-left: 26%;
        width: 75%;
        font-size: 13px;
      }
      img{
        width: 25%;
        float: left;
        border-radius: 5px;
        margin-right: 5px;
      }
    }
  }

.gallery-photo
  .container
    %h3.crud-block
      -#= debug @news_photo.inspect
      %a{:href => "/news", title: "Усі новини"} Показники діяльності
    = link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    = link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-nit-4128.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-nit-4128.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-tri-serdca-4202.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-angel-dark-4093.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-hearts-4154.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-pozitiv-4134.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-stranicy-4196.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/foto-vstrecha-4163.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"
    -#= link_to image_tag("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), image_path("http://www.fullhdoboi.com/wallpapers/thumbs/12/kartinka-varejki-4109.jpg"), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => "n.title", :class => "fancybox-button fancybox-thumb"

    -#- if @news_photo
      - @news_photo.each do |n|
        -#= debug n.inspect
        = link_to image_tag(n.image.thumb), image_path(n.image), title: "Переглянути", :rel => "fancybox-button fancybox-thumb", :title => n.title, :class => "fancybox-button fancybox-thumb"
    - if@images
      - @images.each do |n|
        = link_to image_tag("statistic_gallery/#{@name_gallery}/#{n.split('/').last}"), image_path("statistic_gallery/#{@name_gallery}/#{n.split('/').last}"), title: "Переглянути", :rel => "fancybox-button", :class => "fancybox-button"


:javascript

  //$(document).on('page:load', function() {
  //  $(".fancybox-button").fancybox({
  //    prevEffect	: 'none',
  //    nextEffect	: 'fade',
  //    helpers		: {
  //      title	: { type : 'inside' },
  //      buttons	: {},
  //      thumbs	: {
  //        width	: 100,
  //        height: 100
  //      }
  //    }
  //  });
  //});

  $(document).ready(function() {
    $(".fancybox-button").fancybox({
      prevEffect	: 'none',
      nextEffect	: 'fade',
      helpers		: {
        title	: { type : 'inside' },
        buttons	: {},
        thumbs	: {
          width	: 100,
          height: 100
        }
      }
    });
  });