:css
  .fix {
      float: right;
  }
    /*body {*/
      /*background: url('/assets/36.jpg');*/
    /*}*/
= form_for(@role, html: { class: 'form-horizontal' })  do |u|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @role.errors.any?
        #error_explanation
          %h2
            = pluralize(@role.errors.count, "error")
            prohibited this role from being saved:
          %ul
            - @role.errors.full_messages.each do |msg|
              %li= msg
  -#.form-group
  -#  .field
  -#    = u.label :login, :class => 'col-sm-2 control-label'
  -#    .col-sm-10
  -#      = u.text_field :login, :class => 'form-control input-responsive'
  .form-group
    .field
      = u.label :title, :class => 'col-sm-2 control-label'
      .col-sm-10
        = u.text_field :title, :class => 'form-control input-responsive'
  -#.form-group
  -#  = u.label :last_name, :class => 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = u.text_field :last_name, :class => 'form-control input-responsive'
  .form-group
    = u.label :type_role, :class => 'col-sm-2 control-label'
    .col-sm-10
      = u.text_field :type_role, :class => 'form-control input-responsive'
  .form-group
    = u.label :parent_id, :class => 'col-sm-2 control-label'
    .col-sm-10
      -#= u.collection_select(:role_id, Role.all, :id, :title, {}, {:class => 'form-control input-responsive'})
      = u.select :parent_id, Role.parent_roles, {}, :multiple => false, :class => 'form-control input-responsive'
      -#= u.select :parent_id, Worker.all.collect{|a| [a.name, a.id]}, {}, :multiple => false,
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = u.submit :class => 'btn btn-primary'