:scss
  .header-top{
    padding: 30px 0 15px;
    //.gerb1{
    //  position: absolute;
    //  top: 35px;
    //  left: 10%;
    //  width:55px;
    //  img{
    //    opacity: .6;
    //    width: 100%;
    //    height: auto;
    //  }
    //}
    .gerb1{
      //position: absolute;
      //top: 5px;
      //left: 10%;
      width:55px;
      display:inline-block;
      img{
        opacity: .5;
        width: 100%;
        height: auto;
      }
    }
    .gerb{
      position: absolute;
      top: -23px;
      left: 10px;
      width:30px;
      img{
        opacity: .6;
        width: 100%;
        height: auto;
      }
    }
    .image-logos{
      white-space:  nowrap;
    }

    .logo{
      display:inline-block;
      width: 80px;
      img{
        width: 100%;
        height: auto;
        //border-radius: 50px;
        //background: white;
        //padding: 5px 0 0 0;
      }
        //background: transparent url('/assets/images/logo.png');
        //background-repeat: no-repeat;
    }
    .title{
      font-size: 38px;
      line-height: 1;
      letter-spacing: 1px;
      color: #008f44;
      font-family: Century Gothic;
    }
    .welcome{
      .message{
        padding-top: 20px;
        span{
          color: #008f44;
          font-size: 13px;
          display: block;
          text-align: right;
        }
      }
      .phone-icon{
        padding-top: 15px;
        //text-align: right;
      }
      .number{
        padding-top: 7px;
        text-align: center;
        font-size: 22px;
        color: #008f44;
      }
    }
  }

.header-top
  -#.gerb1
    = image_tag 'gerb_vin.png'
  .container
    .row
      .col-md-6
        .row
          -#.col-md-2.col-sm-2.col-xs-2
            .gerb1
              = image_tag 'gerb_vin.png'
          .col-md-3.col-sm-3.col-xs-5.image-logos
            -#.gerb
              = image_tag 'gerb_vin.png'
            .gerb1
              = image_tag 'gerb_vin.png'
            .logo
              = image_tag 'snake.png'
            -#= link_to '', '#', class: "logo"
          .col-md-9.col-sm-9.col-xs-7
            .title
              -#%h2
              Охорона здоров'я Вінниччини
      .col-md-6
        .row.welcome
          .col-md-6
            .message
              = form_tag search_path, :method => :get do
                -#%p
                = text_field_tag :search, params[:search], placeholder: 'Пошук...', :class => 'form-control'
              -#%form
                %input.form-control{ placeholder: 'Пошук...', type: 'search'}
              -#%button.morphsearch-submit{type: 'submit'}
                  -#Search
              -#%span Ми на зв'язку з вами 24 години на добу.
              -#%span По невідкладним потребам можете зателефонувати нам
          .col-md-6
            .row
              .col-md-2.col-sm-2.col-xs-3
                .phone-icon
                  = image_tag 'phone-icon.png'
              .col-md-10.col-sm-10.col-xs-9
                - if @header_numbers
                  = @header_numbers.description.html_safe
                - else
                  .number
                    .phone (0432) 35-37-431
                    .phone (0432) 67-01-20
                    -#%form
                      %input.form-control{ placeholder: 'Пошук...', type: 'search'}
                      -#%button.morphsearch-submit{type: 'submit'}
                        -#Search