= form_for(@user, html: { class: 'form-horizontal' })  do |u|
  .form-group
    .col-sm-10.col-md-offset-2
      - if @user.errors.any?
        #error_explanation
          %h2
            = pluralize(@user.errors.count, "error")
            prohibited this user from being saved:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
  -#.form-group
  -#  .field
  -#    = u.label :login, :class => 'col-sm-2 control-label'
  -#    .col-sm-10
  -#      = u.text_field :login, :class => 'form-control input-responsive'
  .form-group
    .field
      = u.label :name, :class => 'col-sm-2 control-label'
      .col-sm-10
        = u.text_field :name, :class => 'form-control input-responsive'
  -#.form-group
  -#  = u.label :last_name, :class => 'col-sm-2 control-label'
  -#  .col-sm-10
  -#    = u.text_field :last_name, :class => 'form-control input-responsive'
  .form-group
    = u.label :email, :class => 'col-sm-2 control-label'
    .col-sm-10
      = u.text_field :email, :class => 'form-control input-responsive'
  .form-group
    = u.label :password, :class => 'col-sm-2 control-label'
    .col-sm-10
      = u.password_field :password, :class => 'form-control input-responsive'
  .form-group
    = u.label :password_confirmation, :class => 'col-sm-2 control-label'
    .col-sm-10
      = u.password_field :password_confirmation, :class => 'form-control input-responsive'
  .form-group
    = u.label :role_title, :class => 'col-sm-2 control-label'
    .col-sm-10
      -#= u.collection_select(:role_id, Role.all, :id, :title, {}, {:class => 'form-control input-responsive'})
      = u.select :admin_role_ids, Admin::Role.all.collect {|x| [x.title, x.id]}, {}, multiple: true,  :class => 'form-control input-responsive'
      -#= u.text_field :role_id, collection: Role.all, as: :select
      -#= u.collection_select :role_ids, Role.all, :id, :title
      -#= u.association :role, :collection => Role.all
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = u.submit :class => 'btn btn-primary'