:scss
  .users{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new{
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
    table{
      border-style:solid;
      border-color:#63B8FF;
    }
  }

.users
  .container
    .heading
      .title
        %h1 List users
      .btn-new
        = link_to 'New user', new_admin_user_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th Role
          %th Login
          %th Email
          %th Show
      %tbody
        - @users.each do |u|
          %tr
            %td= u.id
            %td
              - @roles = u.admin_roles
              - @roles.each do |r|
                = r.title
            %td= u.name
            %td= u.email
            %td= link_to "Show user", admin_user_path(u), :class => 'btn btn-primary'