:scss
  .show-user{
    table{
      border-style:solid;
      border-color:#63B8FF;
    }
  }

.container.show-user
  - if notice
    %p#notice= notice
  %p
    %h2
      User
      %em
        = @user.name
  %table.table.table-condensed.table-striped
    %tbody
      %tr
        %th Role
        %td
          - @roles = @user.admin_roles
          - @roles.each do |r|
            = r.title
      %tr
        %th Login
        %td= @user.name
      %tr
        %th Full name
        %td= @user.full_name
      %tr
        %th Email
        %td= @user.email
  = link_to 'All users', admin_users_path, :class => 'btn btn-primary'
  = link_to 'Edit', edit_admin_user_path(@user), :class => 'btn btn-primary'
  = link_to 'Destroy', admin_user_path(@user), :class => 'btn btn-primary',
    method: :delete,
    data: { confirm: 'Are you sure?' }