%h1 Listing admin_tests

%table
  %thead
    %tr
      %th Question
      %th Publish on
      %th Replies
      %th
      %th
      %th

  %tbody
    - @admin_tests.each do |admin_test|
      %tr
        %td= admin_test.question
        %td= admin_test.publish_on
        %td= admin_test.replies
        %td= link_to 'Show', admin_test
        %td= link_to 'Edit', edit_admin_test_path(admin_test)
        %td= link_to 'Destroy', admin_test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Test', new_admin_test_path
