:scss

  .show-private-medical-setup{
    table{
      border-style:solid;
      border-color:#63B8FF;
    }
  }

.show-private-medical-setup
  .container
    - if notice
      %p#notice= notice
    %p
      %h2
        Приватна cтруктура
        %em
          = @private_medical_setup.name
  .container
    %table.table.table-condensed.table-striped
      %tbody
        %tr
          %th Структура
          %td= @private_medical_setup.name
        %tr
          %th Адреса
          %td= @private_medical_setup.address

    = link_to 'Приватні структури', admin_private_medical_setups_path, :class => 'btn btn-primary'
    = link_to 'Редагувати', edit_admin_private_medical_setup_path(@private_medical_setup), :class => 'btn btn-primary'
    = link_to 'Видалити', @private_medical_setup, :class => 'btn btn-primary',
      method: :delete,
      data: { confirm: 'Ви впевнені?' }