:scss
  .admin-videos{
    table{
      border-style:solid;
      border-color:#0BBA6A;
      border-radius: 3px;
      font-size: 15px;
      thead{
        th{
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:nth-child(n+2){
          text-align: center;
        }
        td:nth-child(2){
          //word-wrap: normal;
          white-space: nowrap;
        }
        td.wrap{
          text-align: justify;
        }
        td .btn{
          display: inline-block;
          margin: 0px 0px 5px;
          padding: 4px 6px;
          width: 30px;
        }

        td.iframe{
          width: 180px;
          iframe{
            width: 100%;
            height: 120px;
          }
        }
      }
    }

    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.admin-videos
  .container
    - if notice
      %p#notice= notice
    .heading
      .title
        %h1 Список відеоматеріалів
      .btn-new-news
        -#- if current_user && current_user.admin?
        = link_to 'Створити відеоматеріал', new_admin_video_path, :class => 'btn btn-primary'
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %thead
        %tr
          -#%th #
          %th Назва
          %th Iframe
          %th Публікувати?
          %th Опис

          %th Дія
      %tbody
        - @admin_videos.each do |admin_video|
          %tr
            %td= admin_video.title
            %td.iframe= admin_video.iframe.html_safe
            -#%td= admin_video.iframe.blank? ? '-' : '+'
            %td= admin_video.publish_on
            %td.wrap= truncate(strip_tags(admin_video.description), length: 610)
            %td
              = link_to '<i class="fa fa-eye "></i>'.html_safe, admin_video, title: "Переглянути",  :class => 'btn btn-info'
              = link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_video_path(admin_video), title: "Редагувати", :class => 'btn btn-primary'
              = link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_video, title: "Видалити", :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
    .panel-paginate
      = paginate @admin_videos  #, :remote => true