:scss
  .show-video{
    margin-bottom: 15px;
    td.iframe{
      //width: 180px;
      iframe{
        width: 60%;
        height: 220px;
      }
    }
  }

.show-video
  .container
    - if notice
      %p#notice= notice
    %p
      %h2
        Відеоматеріал
        %em
          = @admin_video.title
  .container
    %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
      %tbody
        %tr
          %th Заголовок
          %td= @admin_video.title
        %tr
          %th Iframe
          %td.iframe= @admin_video.iframe.html_safe
        %tr
          %th Публікувати?
          %td= @admin_video.publish_on
        %tr
          %th Опис
          %td= simple_format(@admin_video.description)
    = link_to 'Відеоматеріали', admin_videos_path, :class => 'btn btn-primary'
    -#- if current_user && current_user.editor?
    = link_to 'Редагувати', edit_admin_video_path(@admin_video), :class => 'btn btn-primary'
    -#- if current_user && current_user.admin?
    = link_to 'Видалити', @admin_video, :class => 'btn btn-primary', |
      method: :delete,
      data: { confirm: 'Ви впевнені?' }

