-#:scss
-#  .menu-items{
-#    table{
-#      th, td{
-#      padding:5px;
-#        border: 1px solid dodgerblue;
-#      }
-#    }
-#  }
-#
-#
-#.container.menu-items
-#  %h1 Listing menu_items
-#
-#  %table
-#    %thead
-#      %tr
-#        %th Type menu item
-#        %th Type menu
-#        %th Title
-#        %th Link
-#        %th Parent
-#        %th Order
-#        %th
-#        %th
-#        %th
-#
-#    %tbody
-#      - @menu_items.each do |menu_item|
-#        %tr
-#          = menu_item.id
-#          %td= menu_item.type_level
-#          %td= menu_item.type_item
-#          %td= menu_item.title
-#          %td
-#            - unless  menu_item.link.blank?
-#              = "+"
-#            - else
-#              = "-"
-#          %td= menu_item.parent_id
-#          %td= menu_item.order_item
-#          %td= link_to 'Show', menu_item
-#          %td= link_to 'Edit', edit_menu_item_path(menu_item)
-#          %td= link_to 'Destroy', menu_item, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#  %br
-#
-#  = link_to 'New Menu item', new_menu_item_path

:scss
  .admin_all_news{
    .heading{
      .title{
        display: inline-block;
      }
      .btn-new-news{
        display: inline-block;
        float: right;
        .btn{
          margin:20px 0 5px;
        }
      }
    }
  }

.admin_all_news
  .container#results
    = render partial: 'show_menu_items', :locals => { menu: @menu,  menu_category: @menu_category }

    -#- @menu_items.each do |menu_item|
      %tr
        = menu_item.id
        %td= menu_item.type_level
        %td= menu_item.type_item
        %td= menu_item.title
        %td
          - unless  menu_item.link.blank?
            = "+"
          - else
            = "-"
        %td= menu_item.parent_id
        %td= menu_item.order_item
        %td= link_to 'Show', menu_item
        %td= link_to 'Edit', edit_menu_item_path(menu_item)
        %td= link_to 'Destroy', menu_item, :method => :delete, :data => { :confirm => 'Are you sure?' }
