:scss
  .show_menu_item{
    .authors{
      display:none;
    }
    a.show_authors{
      //text-decoration: none;
    }
    a.show_authors:hover .authors{
      display:block;
      color: black;
    }
  }


.container.show_menu_item
  %p#notice= notice
  %p
    %h2
      Пункт меню
      %em
        = @menu_item.title
  %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
    %tbody
      -#%tr
        %th Id_пункту:
        %td= @menu_item._id.to_s.last(8)
      %tr
        %th Тип пункту меню:
        %td= @menu_item.type_level
      %tr
        %th Група:
        %td= @menu_item.type_item
      %tr
        %th Назва:
        %td= @menu_item.title
      %tr
        %th URL:
        %td= @menu_item.link
      %tr
        %th Аліас
        %td= @menu_item.alias
      %tr
        %th Таргет:
        %td= @menu_item.target
      %tr
        %th Батько:
        %td= @menu_item.parent_id
      %tr
        %th Порядок:
        %td= @menu_item.order_item
      %tr
        %th Доступ для ролі
        %td
          = @menu_item.admin_role.title if @menu_item.admin_role
      %tr
        %th Показувати?
        %td= @menu_item.show
      %tr
        %th Автори:
        %td
          - if @menu_item.list_authors
            %a.show_authors
              %li= "Автор */ Роль */ Дата"
              - @menu_item.list_authors.each do |author|
                %li.authors
                  = author[:author]
                  = "*/ "
                  = author[:author_role]
                  = "*/ "
                  = author[:date]

  = link_to 'Редагувати', edit_admin_menu_item_path(@menu_item), :class => 'btn btn-primary'

  = link_to 'Повернутись', admin_menu_items_path, :class => 'btn btn-primary'
