.container
  %p#notice= notice
  %p
    %h2
      Menu item
      %em
        = @menu_item.title
  %table.table.table-condensed.table-striped{:style => "border-style:solid; border-color:#63B8FF"}
    %tbody
      %tr
        %th Id_post:
        %td= @menu_item._id.to_s.last(8)
      %tr
        %th Type level:
        %td= @menu_item.type_level
      %tr
        %th Type item:
        %td= @menu_item.type_item
      %tr
        %th Title:
        %td= @menu_item.title
      %tr
        %th Link:
        %td
          - if @menu_item.link
            +
          - else
            -
      %tr
        %th Parent:
        %td= @menu_item.parent_id
      %tr
        %th Order_item:
        %td= @menu_item.order_item
      %tr
        %th Show:
        %td= @menu_item.show


  = link_to 'Edit', edit_admin_menu_item_path(@menu_item), :class => 'btn btn-primary'

  = link_to 'Back', admin_menu_items_path, :class => 'btn btn-primary'
