:scss

  .medical_setups{
    .heading{
      .title{
        width: 100%;
        h1{
          text-align: center;
        }
      }
    }
    table{
      border-style:solid;
      border-color:#0BBA6A;
      border-radius: 3px;
      font-size: 13px;
      thead{
        th{
          vertical-align: middle;
          text-align: center;
        }
      }
      tbody{
        td:first-child, td:nth-child(n+7){
          text-align: center;
        }
      }
    }
  }

.medical_setups
  .container
    .heading
      .title
        %h1= @medical_setups_group ||= 'Список медичних установ'
  .container-fluid
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{rowspan: 2} № п/п
          %th{rowspan: 2} Назва медичної установи
          %th{rowspan: 2} Адреса
          %th{rowspan: 2} Контактні телефони
          %th{rowspan: 2} Головний лікар
          %th{rowspan: 2} Електронна пошта
          %th{colspan: 3} Ліцензія на право здійснювати медичну діяльність
          %th{rowspan: 2} Категорія
        %tr
          %th Термін дії ліцензії з
          %th № ліцензії серія
          %th Термін дії акредитаційного сертифіката по
      %tbody
        - m_iterator = 1
        - @medical_setups_h.each do |m|
          %tr
            %td= m_iterator
            %td= m.name
            %td= m.address
            %td= m.phone
            %td= m.head_doctor
            %td= m.email
            %td= m.date_start
            %td= m.number_license
            %td= m.date_finish
            %td= m.medical_level
          - m_iterator = m_iterator + 1
