= form_for [@poll, @reply], html: { class: 'form-horizontal' } do |f|
  - if @reply.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reply.errors.count, "error")} prohibited this @@poll from being saved:"
      %ul
        - @reply.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :answer, 'Текст питання', :class => 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :answer, :class => 'form-control input-responsive'
  .form-group
    .field
      = f.label :order_answer, 'Порядок відображення', :class => 'col-sm-2 control-label'
      .col-sm-10
        = f.select :order_answer, [1,2,3,4,5,6,7,8,9,10], {}, :class => 'form-control input-responsive'
  .form-group
    .actions
      .col-sm-offset-2.col-sm-10
        = f.submit 'Зберегти', :class => 'btn btn-primary'