= form_for(@admin_statistic_catalog, :multipart=>true, html: { class: 'form-horizontal' }) do |f|
  - if @admin_statistic_catalog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_statistic_catalog.errors.count, "error")} prohibited this admin_statistic_catalog from being saved:"
      %ul
        - @admin_statistic_catalog.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name,'Назва', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control input-responsive'
  .form-group
    = f.label :images, 'Слайди', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :images, multiple: true, :class => 'form-control input-responsive'
  .actions
    = f.submit 'Save'
